.header {
    &__container {
        min-height: 64px;
        padding: 16px;
        background-color: var(--header-bg);
    }
    &__isSticky {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}